html,
body {
  margin: 0;
  padding: 0;
  background-color: rgba(164, 205, 210, 0.04);
}
.app__header {
  text-align: center;
  font-size: 1.7em;
  background: #0277BD;
  color: white;
  font-family: helvetica;
  padding: 13px;
  font-weight: 300;
  box-shadow: 0 1px 5px #999999;
  &--sidetext {
    font-size: 0.6em;
    font-style: italic;
    color: honeydew;
    font-weight: 500;
  }
}
@import "slideshow.scss";
@import "team.scss";
