 .app {

   &__slideshow{
     display: flex;
     flex-direction: row;
     transition: left 1s;
     height: 500px;

     &__container {
       width: 100%;
       overflow: hidden;
     }
   }

   &__slide {
     min-width: 40%;
     margin: auto 10px;
     transition: height 1s;

     &__title {
       color: white;
       text-shadow: 0px 1px #000000;
     }
   }
 }
