.app {
  &__team {
    margin: 15px;
    box-shadow: 0 0 4px grey;
    overflow: hidden;
    font-family: helvetica;
    padding: 0 20px 20px;
    background: white;
    &__title {
      text-align: center;
      padding: 20px;
      color:red;
    }
    &__description {
      color:#666666;
    }
    &__member {

    }
  }
}
